.image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

.responsive-image {
    width: 100%;
    height: 480px;
    object-fit: cover;
    border: 5px solid #333;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
