
.bd-main .bd-content .bd-article-container {
	  max-width: 100%;
}

.bd-sidebar-secondary {
	  display: none;
}

label.sidebar-toggle.secondary-toggle.btn.btn-sm {
    display: none;
}

#buttonWrapper:hover {
	  border-color: hsla(231, 99%, 66%, 1);
	  transform: scale(1.05);
	  background-color: var(--hover-background-colour);
}

#buttonWrapper:hover {
	  border-color: hsla(231, 99%, 66%, 1);
	  transform: scale(1.05);
	  background-color: var(--hover-background-colour);
}

#buttonWrapper {
	  border-color: #A9A9A9;
	  background-color: var(--original-background);
	  text-align: center;
	  font-weight: bold;
	  font-size: 12px;
	  border-radius: 1px;
	  transition: transform 0.2s, border-color 0.2s;
}

h2 {
	  margin: 0;
	  font-size: 1.5em;
}

.container {
	  display: flex;
	  justify-content: space-between;
	  align-items: center;
	  padding: 10px;
	  box-sizing: border-box;
	  width: 100%;
}

.read-more-btn {
	  font-size: 20px;
	  padding: 10px;
	  font-weight: bold;
	  cursor: pointer;
	  display: inline-block;
	  align-items: center;
	  text-decoration: none;
	  overflow: hidden;
	  gap: 7px;
	  display: block;
	  text-align: left;
	  margin-left: 0;
	  margin-top: 10px;
}

.read-more-btn-small {
	  font-size: 15px;
	  padding: 10px;
	  font-weight: bold;
	  cursor: pointer;
	  display: inline-block;
	  align-items: center;
	  text-decoration: none;
	  overflow: hidden;
	  gap: 7px;
	  display: block;
	  text-align: left;
	  margin-left: 0;
	  margin-top: 10px;
}

.arrows {
	  font-size: 20px;
	  display: inline-block;
	  font-weight: bold;
	  transition: transform 0.3s ease, color 0.3s ease, font-size 0.3s ease;
}

.read-more-btn:hover .arrows {
  	transform: translateX(8px);
}

.arrows-small {
	  font-size: 15px;
	  display: inline-block;
	  font-weight: bold;
	  transition: transform 0.3s ease, color 0.3s ease, font-size 0.3s ease;
}

.read-more-btn-small:hover .arrows-small {
	  transform: translateX(10px);
}

.date {
	  font-size: 13px;
	  font-weight: 300;
	  line-height: 22.5px;
	  text-transform: none;
  	margin-bottom: 10px;
}

.paragraph {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 10px;
}

.large-sd-card-img-top.sd-card-img-top {
    width: 100%;
    height: 21vw;
    object-fit: cover;
}

.small-sd-card-img-top.sd-card-img-top {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.large-sd-card.sd-card-body {
    width: 100%;
    height: 15%;
}

.small-sd-card {
    width: 45px;
    height: 0;
    display: none;  
}

.bd-content .sd-card .sd-card-footer {
    border-top: none;
}

.card-header {
    font-size: 16px;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    line-height: 1.4;
    margin-bottom: 10px;
}

.paragraph {
    font-size: 12px;
    font-family: 'Arial', sans-serif;
    line-height: 1.4;
    margin-bottom: 10px;
}

.bd-sidebar-primary {
    display: none;
}

.sidebar-toggle {
    display: none;
}

label.sidebar-toggle.primary-toggle.btn.btn-sm {
    display: none;
}
