@media (min-width: 9999px) {
    .search-button {
        display: none !important;
    }
    .search-button-field {
        display: flex;
    }
}

@media (max-width: 9999px) {
    .search-button {
        display: flex !important;
    }
    .search-button-field {
        display: flex;
    }
}

@media (min-width: 1200px) {
    label.sidebar-toggle.secondary-toggle {
        display:none
    }
}

@media (max-width: 1200px) {
    label.sidebar-toggle.secondary-toggle {
        margin-bottom:0
    }
}
